@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.container {
  font-family: Didact Gothic;
  background-color: #444c57;
  font-display: swap;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 4em;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #b11c1c;
  justify-content: center;
}

.headerContainer {
  margin: auto;
}

.filter select option {text-transform:capitalize}

.searchContainer {
  width: 100%;
  background-color: white;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  margin-right: 20px;
}

.searchContainer input {
  font-family: Didact Gothic;
  width: 180px;
  height: 30px;
  font-size: inherit;
  padding-left: 5px;
  margin-right: 10px;
}


.searchContainer select {
  font-family: Didact Gothic;
  width: 180px;
  height: 30px;
  font-size: inherit;
  padding-left: 5px;
  margin-right: 100px;
  font-display: swap;
}


.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.grid {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.paginationContainer {
  width: 80%;
  display: flex;
  justify-content: center;
}

.paginationButton {
  width: 140px;
  cursor: pointer;
  margin: 1em;
  padding: 10px 20px;
  background-color: #f6f6f6;
  font-family: Didact Gothic;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

.paginationButtonText {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
} 

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
