  /* 
    Type-specific colors 
    If I had more time I would definitely refactor this using CSS variables
  */

  .grass {
    background-color: rgba(78,130,52);
  }

  .grass-border {
    border: 4px solid rgba(120,200,80);
  }

  .grass-gradient-background {
    background: linear-gradient(140deg, rgba(167,219,141,1) 0%, rgba(120,200,80,1) 35%, rgba(78,130,52,1) 100%);
  }

  .fire {
    background-color: rgba(156,83,31);
  }

  .fire-border {
    border: 4px solid  rgba(240,128,48);
  }

  .fire-gradient-background {
    background: linear-gradient(140deg, rgba(245,172,120,1) 0%, rgba(240,128,48,1) 35%, rgba(156,83,31,1) 100%);
  }

  
  .water {
    background-color: rgba(68,94,156);
  }

  .water-border {
    border: 4px solid  rgba(157,183,245,1);
  }

  .water-gradient-background {
    background: linear-gradient(140deg, rgba(157,183,245,1) 0%, rgba(104,144,240,1) 35%, rgba(68,94,156,1) 100%);
  }

  .bug {
    background-color: rgba(109,120,21,1);
  }

  .bug-border {
    border: 4px solid  rgba(198,209,110,1);
  }

  .bug-gradient-background {
    background: linear-gradient(140deg, rgba(198,209,110,1) 0%, rgba(168,184,32,1) 35%, rgba(109,120,21,1) 100%);
  }

  .normal {
    background-color: rgba(109,109,78,1);
  }

  .normal-border {
    border: 4px solid  rgba(198,198,167,1);
  }

  .normal-gradient-background {
    background: linear-gradient(140deg, rgba(198,198,167,1) 0%, rgba(168,168,120,1) 35%, rgba(109,109,78,1) 100%);
  }

  .fighting {
    background-color: rgba(125,31,26,1);
  }

  .fighting-border {
    border: 4px solid  rgba(214,120,115,1) ;
  }
  
  .fighting-gradient-background {
    background: linear-gradient(140deg, rgba(214,120,115,1) 0%, rgba(192,48,40,1) 35%, rgba(125,31,26,1) 100%);
  }

  .flying {
    background-color: rgba(109,94,156,1);
  }

  .flying-border {
    border: 4px solid  rgba(198,183,245,1);
  }

  .flying-gradient-background {
    background: linear-gradient(140deg, rgba(198,183,245,1) 0%, rgba(168,144,240,1) 35%, rgba(109,94,156,1) 100%);
  }

  .poison {
    background-color: rgba(104,42,104,1);
  }

  .poison-border {
    border: 4px solid rgba(193,131,193,1);
  }

  .poison-gradient-background {
    background: linear-gradient(140deg, rgba(193,131,193,1) 0%, rgba(160,64,160,1) 35%, rgba(104,42,104,1) 100%);
  }

  .ground {
    background-color: rgba(146,125,68,1);
  }

  .ground-border {
    border: 4px solid rgba(235,214,157,1);
  }

  .ground-gradient-background {
    background: linear-gradient(140deg, rgba(235,214,157,1) 0%, rgba(224,192,104,1) 35%, rgba(146,125,68,1) 100%);
  }

  .rock {
    background-color: rgba(120,104,36,1);
  }

  .rock-border {
    border: 4px solid rgba(209,193,125,1);
  }

  .rock-gradient-background {
    background: linear-gradient(140deg, rgba(209,193,125,1) 0%, rgba(184,160,56,1) 35%, rgba(120,104,36,1) 100%);
  }

  .ghost {
    background-color: rgba(73,57,99,1);
  }

  .ghost-border {
    border: 4px solid rgba(162,146,188,1);
  }

  .ghost-gradient-background {
    background: linear-gradient(140deg, rgba(162,146,188,1) 0%, rgba(112,88,152,1) 35%, rgba(73,57,99,1) 100%);
  }

  .steel {
    background-color: rgba(120,120,135,1);
  }

  .steel-border {
    border: 4px solid rgba(209,209,224,1);
  }

  .steel-gradient-background {
    background: linear-gradient(140deg, rgba(209,209,224,1) 0%, rgba(184,184,208,1) 35%, rgba(120,120,135,1) m ,.100%);

  }

  .electric {
    background-color: rgba(161,135,31,1);
  }

  .electric-border {
    border: 4px solid rgba(250,224,120,1);
  }

  .electric-gradient-background {
    background: linear-gradient(140deg, rgba(250,224,120,1) 0%, rgba(248,208,48,1) 35%, rgba(161,135,31,1) 100%);
  }


  .psychic {
    background-color: rgba(161,57,89,1);
  }

  .psychic-border {
    border: 4px solid rgba(250,146,178,1);
  }

  .psychic-gradient-background {
    background: linear-gradient(140deg, rgba(250,146,178,1) 0%, rgba(248,88,136,1) 35%, rgba(161,57,89,1) 100%);
  }

  .ice {
    background-color: rgba(99,141,141,1);
  }

  .ice-border {
    border: 4px solid rgba(188,230,230,1);
  }

  .ice-gradient-background {
    background: linear-gradient(140deg, rgba(188,230,230,1) 0%, rgba(152,216,216,1) 35%, rgba(99,141,141,1) 100%);
  }

  .dragon {
    background-color: rgba(112,56,248,1);
  }

  .dragon-border {
    border: 4px solid rgba(162,125,250,1);
  }

  .dragon-gradient-background {
    background: linear-gradient(140deg, rgba(162,125,250,1) 0%, rgba(112,56,248,1) 35%, rgba(73,36,161,1) 100%);
  }

  .dark {
    background-color: rgba(73,57,47,1);
  }

  .dark-border {
    border: 4px solid rgba(162,146,136,1);
  }

  .dark-gradient-background {
    background: linear-gradient(140deg, rgba(162,146,136,1) 0%, rgba(112,88,72,1) 35%, rgba(73,57,47,1) 100%);
  }

  .fairy {
    background-color: rgba(155,100,112,1);
  }

  .fairy-border {
    border: 4px solid rgba(244,189,201,1)
  }

  .fairy-gradient-background {
    background: linear-gradient(140deg, rgba(244,189,201,1) 0%, rgba(238,153,172,1) 35%, rgba(155,100,112,1) 100%);
  }